body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        " header header" 
        " main  main"
        "footer footer ";
    grid-template-rows: 100px 1fr 70px;
    background-color: black;
}

header{
    grid-area: header;
    background-color: red;
    color: white;
}

h1{
    text-align: center;
}

main{
    grid-area: main;
    color: white;
    font-size: 25px;
}

footer{
    grid-area: footer;
    background-color:  red;
    display: flex;
    justify-content: space-between;
    color: white;
}

.bloco{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}